@font-face {
    font-family: 'Georgia_Italic';
    src: url('../fonts/GeorgiaPro-Italic.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Georgia_Light';
    src: url('../fonts/GeorgiaPro-Light.ttf') format('truetype');
    /* Add additional src lines for other font file formats */
  }
  
  @font-face {
    font-family: 'Articulat-Bold';
    src: url('../fonts/ArticulatCF-Bold.ttf') format('truetype');
    /* Add additional src lines for other font file formats */
  }
  
  @font-face {
    font-family: 'Articulat-Normal';
    src: url('../fonts/ArticulatCF-Normal.ttf') format('truetype');
    /* Add additional src lines for other font file formats */
  }


  .product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap to new rows */
  }

    .product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Adjust the width as needed */
    height: 550px; /* Adjust the height as needed */
    margin: 3px;
    background-color: #f6e2d9;  
  }
  
  .product-card-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    font-family: 'Articulat-Bold';
  }
  
  .product-card-text {
    color: #3d3d3d;
    margin-bottom: 10px;
    font-family: 'Articulat-Normal';
  }

  .product-card-text.qty {
    color: #888;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 20px;
    font-family: 'Articulat-Bold';
  }
  
  .product-card-button {
    background-color: #be9684;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Articulat-Bold';
    width: 100%;
    margin-top: 10px;
  }
  
  .product-card-button:hover {
    background-color: #8B6A59;
    color: #fff;
  }

  .product-card-button:active {
    background-color: #8B6A59;
    color: #fff;
    outline: none;
  }

  .stock-input {
    font-family: 'Articulat-Normal';
    width: 100px; /* Adjust the width as needed */
    height: 40px;
    margin-top: 30px;
    width: 122px;
    margin-left:4px;
    margin-right:5px;
    text-align: center;
  }
  
  
  .add-stock-button {
    background-color: #be9684;
    color: #fff;
    /* height: 30px; */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Articulat-Bold';
    margin-left: -1px;
  }

  .add-stock-button:hover {
    background-color: #8B6A59;
    color: #fff;
    outline: none;
  }

  .add-stock-button:active {
    background-color: #8B6A59;
    color: #fff;
    outline: none;
  }
